.brick {
  stroke-width: 1;
  stroke: silver;
}
.single {
  fill: khaki;
}
.double {
  fill: lightcoral;
}
.triple {
  fill: maroon;
}
.quadruple {
  fill: purple;
}
.dynamite {
  fill: crimson;
  stroke: gold;
}
